.homepage {
  background-color: #320a45;
  min-height: 100vh;
  height: 100%;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.homepage-title {
  text-align: center;
  color: white;
  margin: 24px;
  font-family: "Righteous", cursive;
}

.event-card {
  height: 250px;
  width: 250px;
  background-color: rgb(43, 6, 58);
  margin: 30px;
  border-width: 2px;
  border-color: orange;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

.event-name {
  margin-top: 16px;
  color: orange;
}
