.event-card {
  height: auto;
  width: 250px;
  background: linear-gradient(
    270deg,
    rgba(47, 16, 69, 1) 0%,
    rgb(75, 26, 110) 50%,
    rgba(47, 16, 69, 1) 100%
  );
  margin: 30px;
  border-width: 2px;
  border-color: orange;
  border-style: solid;
  border-radius: 0px;
  text-align: center;
  background-size: cover;
  background-position: center;
  word-wrap: break-word;
}

.event-name {
  margin-top: 16px;
  color: white;
  font-family: "Righteous", cursive;
}

.event-photo {
  height: 180px;
  width: 246px;
  border-width: 1px;
  border-color: orange;
  border-style: solid;
  border-radius: 0px;
}

.event-button {
  width: 200px;
  background-color: orange;
  border-width: 1px;
  border-color: orange;
  border-style: solid;
  border-radius: 5px;
  font-family: "Righteous", cursive;
  font-size: 24px;
  margin-bottom: 20px;
}
