.myevents-page {
  background-color: #320a45;
  min-height: 100vh;
  height: 100%;
}

.myevents-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 72vw;
}

.favorite-events {
  margin: 40px;
  text-align: center;
  color: white;
  font-family: Righteous;
}
